In [182]:
# Dependencies
import pandas as pd
import numpy as np

In [183]:
# Import files using pandas
items_df = pd.read_csv("generated_data\items_complete.csv")
players_df = pd.read_csv("generated_data\players_complete.csv")
purchase_df = pd.read_csv("generated_data\purchase_data_3.csv")

In [184]:
# Get the total number of players with .count(), using SN column b/c its short
player_count = players_df["SN"].count()

In [185]:
# Get the total count of unique items with len() since .unique() returns a list
unique_item_count = len(items_df["Item Name"].unique())

In [186]:
# Get the average purchase price by dividing the sum of the price column by total number of items
average_purchase_price = purchase_df["Price"].sum() / len(purchase_df["Price"])

In [187]:
# Get the total number of purchases
total_purchases = purchase_df["Price"].count()

In [188]:
# Get total revenue by adding up the revenue from the purchase_df
total_revenue = purchase_df["Price"].sum()

In [189]:
# Get % and # of male players
number_male = len(players_df.loc[players_df["Gender"] == "Male",:])

percent_male = (number_male / player_count)
percent_male = "{:.2%}".format(percent_male)

In [190]:
# Get % and # of female players
number_female = len(players_df.loc[players_df["Gender"] == "Female",:])

percent_female = (number_female / player_count)
percent_female = "{:.2%}".format(percent_female)

In [191]:
# Get % and # of other / non-disclosed players
number_other = len(players_df.loc[players_df["Gender"] == "Other / Non-Disclosed",:])

percent_other = (number_other / player_count)
percent_other = "{:.2%}".format(percent_other)

In [192]:
# Set up some dataframes etc to use for purchase analysis
male_df = purchase_df.loc[purchase_df["Gender"] == "Male",:]
female_df = purchase_df.loc[purchase_df["Gender"] == "Female",:]
other_df = purchase_df.loc[purchase_df["Gender"] == "Other / Non-Disclosed",:]

In [193]:
# Get purchase count broken by gender
male_purchase = len(male_df)
female_purchase = len(female_df)
other_purchase = len(other_df)

In [194]:
# Get total purchase value broken by gender
male_total_value = male_df["Price"].sum()
female_total_value = female_df["Price"].sum()
other_total_value = other_df["Price"].sum()

In [195]:
# Get average purchase price broken by gender
male_average_price = male_total_value / male_purchase
female_average_price = female_total_value / female_purchase
other_average_price = other_total_value / other_purchase

In [196]:
# Get normalized totals broken by gender, with code repurposed from stackoverflow
male_purchase_normalized = (male_df["Price"] - male_df["Price"].mean()) / (male_df["Price"].max() - male_df["Price"].min())
male_purchase_normalized_total = male_purchase_normalized.sum()

female_purchase_normalized = (female_df["Price"] - female_df["Price"].mean()) / (female_df["Price"].max() - female_df["Price"].min())
female_purchase_normalized_total = female_purchase_normalized.sum()

other_purchase_normalized = (other_df["Price"] - other_df["Price"].mean()) / (other_df["Price"].max() - other_df["Price"].min())
other_purchase_normalized_total = other_purchase_normalized.sum()

In [197]:
# Prepare to analyze age demographics
# first join purchase and players tables and clean it
players_purchase_joined_df = pd.merge(purchase_df, players_df, on="SN")
players_purchase_joined_df = players_purchase_joined_df.rename(columns={"Age_x": "Age",
                                                                       "Gender_x": "Gender"})
players_purchase_joined_clean_df = players_purchase_joined_df[["Purchase ID",
                                                             "SN",
                                                             "Age",
                                                             "Gender",
                                                             "Item ID",
                                                             "Item Name",
                                                             "Price",
                                                             "Player ID"]]
players_purchase_joined_clean_df.head(1)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Player ID
0,0,Iloni35,20,Male,93,Apocalyptic Battlescythe,4.49,137

In [198]:
# make bins and group names
bins = [0, 10, 14, 18, 22, 26, 30, 34, 38, 200]
bin_names = ["< 10", "10-14", "14-18", "18-22", "22-26", "26-30", "30-34", "34-38", "38+"]
players_purchase_joined_clean_df["Age Groups"] = pd.cut(players_purchase_joined_clean_df["Age"], bins, labels=bin_names)
players_purchase_joined_clean_df.head()

c:\users\t0nb3\Anaconda3\envs\PythonData\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Player ID,Age Groups
0,0,Iloni35,20,Male,93,Apocalyptic Battlescythe,4.49,137,18-22
1,1,Aidaira26,21,Male,12,Dawne,3.36,799,18-22
2,68,Aidaira26,21,Male,82,Nirvana,1.77,799,18-22
3,2,Irim47,17,Male,5,Putrid Fan,2.63,963,14-18
4,3,Irith83,17,Male,123,Twilight's Carver,2.55,843,14-18

In [199]:
# Create a dataframe grouped by age groups
players_purchase_groups = players_purchase_joined_clean_df.groupby("Age Groups")

In [200]:
# Get purchase count by age groups
purchase_count_age_groups = players_purchase_groups["Purchase ID"].count()

In [201]:
# Get average purchase price by age groups
average_purchase_age_groups = players_purchase_groups["Price"].mean()

In [202]:
# Get total purchase value by age groups

total_purchase_age_groups = players_purchase_groups["Price"].sum()

In [203]:
# Get normalized totals by age groups
#age_purchase_normalized = (players_purchase_groups["Price"] - players_purchase_groups["Price"].mean()) / (players_purchase_groups["Price"].max() - players_purchase_groups["Price"].min())
#using more code taken from stackoverflow
age_purchase_normalized = players_purchase_joined_clean_df.groupby("Age Groups").transform(lambda x: (x - x.mean()) / x.std())
total_normalized_purchase_age_groups = age_purchase_normalized.sum()

In [239]:
# Prepare to analyze top spenders
# take cleaned table from above and group by SN to find top spenders SNs
players_purchase_sn_groups = players_purchase_joined_clean_df.groupby("SN")
sorted_top_spender_SN = pd.DataFrame(players_purchase_sn_groups["Price"].sum()).sort_values(["Price"], ascending=False)
top_five_spender_SN = sorted_top_spender_SN.head(5)

In [240]:
# get top 5 spender purchase count
SN_purchase_count = pd.DataFrame(players_purchase_sn_groups["SN"].count())
top_five_count = SN_purchase_count.loc[top_five_spender_SN.index.tolist()]
top_five_count = top_five_count.rename(columns={"SN":"Purchase Count"})
#Over thinking things again...
#SN_purchase_count[top_five_spender_SN.index.tolist():]
#top_five_purchase_count[top_five_spender_SN.index.tolist()]
#pd.DataFrame(players_purchase_sn_groups.head()).sort_values(["Price"], ascending=False)

In [241]:
# get top 5 spender total purchase value
SN_purchase_price = pd.DataFrame(players_purchase_sn_groups["Price"].sum())
top_five_total = SN_purchase_price.loc[top_five_spender_SN.index.tolist()]

In [242]:
# get top 5 spender average purchase price
# can I just divide the tables?
#nope average_purchase_price = top_five_purchase_count / total_purchase_value
# have to convert to numeric first, using
# pd.to_numeric(clean_ufo_df["duration (seconds)"])
# will make new variables just in case we want to keep as strings
# +s == numeric data inside
top_five_counts = pd.to_numeric(top_five_count["Purchase Count"])
top_five_totals = pd.to_numeric(top_five_total["Price"])
top_five_average = top_five_totals / top_five_counts

In [262]:
# Prepare to analyze items and purchases
# first join the two tables and get rid of uninteresting
items_purchase_joined_df = pd.merge(items_df, purchase_df, on="Item ID")
items_purchase_joined_df = items_purchase_joined_df.rename(columns={"Item Name_x": "Item Name",
                                                                   "Price_x": "Price"})
items_purchase_joined_clean_df = items_purchase_joined_df[["Item ID",
                                                          "Purchase ID",
                                                          "Item Name",
                                                          "Price"]]

In [ ]:
#######################################################################
#TO BE CONTINUED
###################
#TODO: USE items_purchase_joined_clean_df TO GET SORTED BY PURCHASE COUNT (item id unique?) etc etc

In [207]:
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Iloni35,20,Male,93,Apocalyptic Battlescythe,4.49
1,1,Aidaira26,21,Male,12,Dawne,3.36
2,2,Irim47,17,Male,5,Putrid Fan,2.63
3,3,Irith83,17,Male,123,Twilight's Carver,2.55
4,4,Philodil43,22,Male,154,Feral Katana,4.11

In [255]:
items_df.head(1)

   Item ID Item Name  Price
0        0  Splinter   1.89

In [47]:
#players_df.head(10)

In [254]:
# Things to do
#PLAYER COUNT
# - Total Number of Players player_count
#PURCHASING ANALYSIS(TOTAL)
# - Number of Unique Items unique_item_count
# - Average Purchase Price average_purchase_price
# - Total Number of Purchases total_purchases
# - Total Revenue total_revenue
#GENDER DEMOGRAPHICS
# - Percentage and Count of Male Players percent_male, number_male
# - Percentage and Count of Female Players percent_female, number_female
# - Percentage and Count of Other / Non-Disclosed percent_other, number_other
#PURCHASING ANALYSIS (GENDER)
#>broken by gender
# - Purchase Count male_purchase, female_purchase, other_purchase
# - Average Purchase Price male_average_price, female_average_price, other_average_price
# - Total Purchase Value male_total_value, female_total_value, other_total_value
# - Normalized Totals male_purchase_normalized_total, female_purchase_normalized_total, other_purchase_normalized_total
#AGE DEMOGRAPHICS
#>broken into bins of 4 years (ie <10, 10-14, 15-19,...)
# - Purchase Count purchase_count_age_groups
# - Average Purchase Price average_purchase_age_groups
# - Total Purchase Value total_purchase_age_groups
# - Normalized Totals total_normalized_purchase_age_groups
#TOP SPENDERS
#>id top 5 spenders then list (in a table):
# - SN top_five_spender_SN
# - Purchase Count top_five_count
# - Average Purchase Price top_five_average
# - Total Purchase Value top_five_total
#MOST POPULAR ITEMS
#>id top 5 items by purchase count then list (in a table): 
# - Item ID
#MOST PROFITABLE ITEMS

#items table: items_purchase_joined_clean_df

#example report table all put together from TOP SPENDERS section
spender_report = top_five_spender_SN.rename(columns={"Price":"Total Price"})
spender_report["Purchase Count"] = top_five_count
spender_report["Average Purchase Price"] = top_five_average
spender_report["Total Purchase Value"] = top_five_total
spender_report = spender_report[["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]
spender_report

            Purchase Count  Average Purchase Price  Total Purchase Value
SN
Jiskjask76               2                   4.590                  9.18
Sundaky74                2                   3.705                  7.41
Aidaira26                2                   2.565                  5.13
Eusty71                  1                   4.810                  4.81
Chanirra64               1                   4.780                  4.78