3 Trends Observed:
1 - Go to a charter school if you want to pass reading and do better in math.
2 - Having more students is a good way to lessen their chances of success.
3 - Higher per student spending leads to lower passing rates.
4 - Incidentally, charter schools all have fewer students and lower per student spending.

In [25]:
# Dependencies
import pandas as pd

In [26]:
# Import files with pandas
school_df = pd.read_csv("generated_data/schools_complete.csv")
student_df = pd.read_csv("generated_data/students_complete.csv")

In [42]:
# Make a combined dataframe for later
district_df = pd.merge(student_df, school_df, on="school_name")

DISTRICT SUMMARY

In [46]:
# DISTRICT SUMMARY
#> Create a high level snapshot (in table form) of the district's key metrics, including:
# - Total Schools
school_total = school_df["school_name"].count()

# - Total Students
student_total = student_df["student_name"].count()

# - Total Budget
budget_total = school_df["budget"].sum()

# - Average Math Score
math_average = student_df["math_score"].mean()

# - Average Reading Score
reading_average = student_df["reading_score"].mean()

# - % Passing Math
math_passing = student_df["math_score"][student_df["math_score"] >= 70].count()
math_passing = (math_passing / student_total) * 100

# - % Passing Reading
reading_passing = student_df["reading_score"][student_df["reading_score"] >= 70].count()
reading_passing = (reading_passing / student_total) * 100

# - Overall Passing Rate (Average of the above two)
overall_passing = (math_passing + reading_passing) / 2

# Make that table!
district_summary_table = pd.DataFrame({"Total Schools": [school_total],
                                       "Total Students": ["{:,}".format(student_total)],
                                       "Total Budget": ["${:,}".format(budget_total)],
                                       "Average Math Score": math_average,
                                       "Average Reading Score": reading_average,
                                       "% Passing Math": math_passing,
                                       "% Passing Reading": reading_passing,
                                       "% Overall Passing Rate": overall_passing
                                       })
district_summary_table = district_summary_table[["Total Schools",
                                                "Total Students",
                                                "Total Budget",
                                                "Average Math Score",
                                                "Average Reading Score",
                                                "% Passing Math",
                                                "% Passing Reading",
                                                "% Overall Passing Rate"]]
district_summary_table

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,11,"29,376","$18,648,468",82.269846,82.865877,86.856618,78.220316,82.538467

SCHOOL SUMMARY

In [48]:
# SCHOOL SUMMARY
#> Create an overview table that summarizes key metrics about each school, including:

# - School Name
# Make a nice groupby by school_name
school_group = district_df.groupby("school_name")

# - School Type
school_type = school_group["type"].unique()
school_type = school_type.astype('str').str.replace("[", "")
school_type = school_type.str.replace("]", "")
school_type = school_type.str.replace("'", "")

# - Total Students
school_students = school_group["size"].count()

# - Total School Budget
school_budget = school_df.groupby("school_name")
school_budget = school_budget["budget"].sum()

# - Per Student Budget
per_student_budget = school_budget / school_students

# - Average Math Score
school_math_average = school_group["math_score"].mean()

# - Average Reading Score
school_reading_average = school_group["reading_score"].mean()

# - % Passing Math
school_index = district_df.set_index("school_name")
math_pass = school_index["math_score"].loc[school_index.math_score >= 70]
math_pass = pd.DataFrame(math_pass).reset_index().groupby("school_name").count()
math_pass = pd.to_numeric(math_pass["math_score"])
math_pass = ((math_pass / school_students) * 100)

# - % Passing Reading
reading_pass = school_index["reading_score"].loc[school_index.reading_score >= 70]
reading_pass = pd.DataFrame(reading_pass).reset_index().groupby("school_name").count()
reading_pass = pd.to_numeric(reading_pass["reading_score"])
reading_pass = ((reading_pass / school_students) * 100)


# - Overall Passing Rate (Average of the above two)
overall_pass = ((math_pass + reading_pass) / 2)

#math_pass = math_pass.map("{:.1f}%".format)
#reading_pass = reading_pass.map("{:.1f}%".format)
#overall_pass = overall_pass.map("{:.1f}%".format)

# Make this table!
school_summary_table = pd.DataFrame(data={"School Type": school_type,
                                          "Total Students": school_students.map("{:,}".format),
                                          "Total School Budget": school_budget.map("${:,}".format),
                                          "Per Student Budget": per_student_budget.map("${:,}".format),
                                          "Average Math Score": school_math_average,
                                          "Average Reading Score": school_reading_average,
                                          "% Passing Math": math_pass,
                                          "% Passing Reading": reading_pass,
                                          "% Overall Passing Rate": overall_pass
                                         })
school_summary_table = school_summary_table[["School Type",
                                            "Total Students",
                                            "Total School Budget",
                                            "Per Student Budget",
                                            "Average Math Score",
                                            "Average Reading Score",
                                            "% Passing Math",
                                            "% Passing Reading",
                                            "% Overall Passing Rate"]]
school_summary_table

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Campbell High School,Charter,271,"$157,993",$583.0,83.594096,93.771218,95.202952,100.000000,97.601476
Galloway High School,Charter,"2,471","$1,445,535",$585.0,83.566168,94.029543,94.212869,100.000000,97.106435
Glass High School,District,"3,271","$2,155,589",$659.0,81.293183,76.888108,82.329563,67.349434,74.839499
Gomez High School,Charter,"2,154","$1,288,092",$598.0,83.838440,94.027391,93.964717,100.000000,96.982358
Gonzalez High School,Charter,"1,855","$1,192,765",$643.0,83.442588,94.140701,93.207547,100.000000,96.603774
Hawkins High School,District,"4,555","$2,851,430",$626.0,81.723820,77.005928,83.907794,66.915477,75.411636
Kelly High School,District,"3,307","$2,225,611",$673.0,81.678258,76.829755,83.398851,66.555791,74.977321
Macdonald High School,Charter,901,"$550,511",$611.0,83.779134,93.932297,94.339623,100.000000,97.169811
Miller High School,Charter,"2,424","$1,418,040",$585.0,83.610149,93.997525,93.564356,100.000000,96.782178
Sherman High School,District,"3,213","$2,152,710",$670.0,81.502023,77.290694,82.944289,67.289138,75.116713
Smith High School,District,"4,954","$3,210,192",$648.0,81.539160,77.146952,83.165119,66.370610,74.767864

TOP PERFORMING SCHOOLS (BY PASSING RATE)

In [30]:
# TOP PERFORMING SCHOOLS (BY PASSING RATE)
#> Create a table that highlights the top 5 performing schools based on Overall Passing Rate.  Include:
top_performing_school = school_summary_table
top_performing_school = top_performing_school.sort_values("% Overall Passing Rate", ascending=False)
top_performing_school.head(5)
# - School Name
# - School Type
# - Total Students
# - Total School Budget
# - Per Student Budget
# - Average Math Score
# - Average Reading Score
# - % Passing Math
# - % Passing Reading
# - Overall Passing Rate (Average of the above two)

# Oh that was easy

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Campbell High School,Charter,271,"$157,993",$583.0,83.594096,93.771218,95.202952,100.0,97.601476
Macdonald High School,Charter,901,"$550,511",$611.0,83.779134,93.932297,94.339623,100.0,97.169811
Galloway High School,Charter,"2,471","$1,445,535",$585.0,83.566168,94.029543,94.212869,100.0,97.106435
Gomez High School,Charter,"2,154","$1,288,092",$598.0,83.838440,94.027391,93.964717,100.0,96.982358
Miller High School,Charter,"2,424","$1,418,040",$585.0,83.610149,93.997525,93.564356,100.0,96.782178

BOTTOM PERFORMING SCHOOLS (BY PASSING RATE)

In [31]:
# BOTTOM PERFORMING SCHOOLS
#> Same as above but the bottom 5
bottom_performing_school = school_summary_table
bottom_performing_school = bottom_performing_school.sort_values("% Overall Passing Rate")
bottom_performing_school.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Smith High School,District,"4,954","$3,210,192",$648.0,81.539160,77.146952,83.165119,66.370610,74.767864
Glass High School,District,"3,271","$2,155,589",$659.0,81.293183,76.888108,82.329563,67.349434,74.839499
Kelly High School,District,"3,307","$2,225,611",$673.0,81.678258,76.829755,83.398851,66.555791,74.977321
Sherman High School,District,"3,213","$2,152,710",$670.0,81.502023,77.290694,82.944289,67.289138,75.116713
Hawkins High School,District,"4,555","$2,851,430",$626.0,81.723820,77.005928,83.907794,66.915477,75.411636

MATH SCORE BY GRADE

In [32]:
# MATH SCORES BY GRADE
#> Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school
math_by_grade = school_index.groupby(["school_name","grade"])
math_by_grade = math_by_grade["math_score"].mean()
math_by_grade = pd.DataFrame(math_by_grade)
math_by_grade = math_by_grade.reset_index()
math_by_grade = math_by_grade.pivot(index="school_name", columns="grade")
math_by_grade.columns = math_by_grade.columns.droplevel(0)
math_by_grade = math_by_grade[["9th", "10th", "11th", "12th"]]
math_by_grade

grade                        9th       10th       11th       12th
school_name
Campbell High School   83.842857  84.269663  83.940000  82.064516
Galloway High School   83.534384  83.551630  83.975425  83.204724
Glass High School      81.867647  81.044652  81.390935  80.823120
Gomez High School      83.676568  83.966817  83.874468  83.828916
Gonzalez High School   83.548263  83.952118  83.201970  82.840206
Hawkins High School    81.667758  81.475371  81.885770  81.938296
Kelly High School      81.789659  81.881168  81.497283  81.453920
Macdonald High School  84.255507  83.813953  83.482906  83.516484
Miller High School     83.823713  83.624661  83.635838  83.304183
Sherman High School    81.496614  81.526882  81.232117  81.735955
Smith High School      81.909804  80.997980  81.832724  81.548182

READING SCORES BY GRADE

In [33]:
# READING SCORES BY GRADE
#> Copy the above and replace all instances of 'reading' with 'reading'
reading_by_grade = school_index.groupby(["school_name","grade"])
reading_by_grade = reading_by_grade["reading_score"].mean()
reading_by_grade = pd.DataFrame(reading_by_grade)
reading_by_grade = reading_by_grade.reset_index()
reading_by_grade = reading_by_grade.pivot(index="school_name", columns="grade")
reading_by_grade.columns = reading_by_grade.columns.droplevel(0)
reading_by_grade = reading_by_grade[["9th", "10th", "11th", "12th"]]
reading_by_grade

grade                        9th       10th       11th       12th
school_name
Campbell High School   93.471429  93.876404  94.080000  93.709677
Galloway High School   94.065903  93.961957  93.979206  94.129921
Glass High School      76.444570  77.319834  77.128895  76.618384
Gomez High School      94.186469  93.972851  93.808511  94.130120
Gonzalez High School   94.042471  94.103131  94.416256  94.036082
Hawkins High School    76.518003  77.174355  77.526621  76.852106
Kelly High School      76.367803  77.267875  76.637228  76.966988
Macdonald High School  94.048458  94.135659  93.799145  93.670330
Miller High School     93.897036  94.039295  94.238921  93.823194
Sherman High School    77.292325  77.111828  77.312409  77.501404
Smith High School      76.861176  76.805387  77.338208  77.749091

SCORES BY SCHOOL SPENDING

In [50]:
# SCORES BY SCHOOL SPENDING
#> Create a table that breaks down school performances based on average Spending Ranges (Per Student).
#  Use 4 reasonable bins to group school spending.  Include in the table...
# - Average Math Score
# - Average Reading Score
# - % Passing Math
# - % Passing Reading
# - Overall Passing Rate (Average of the above two)
scores_by_spending = school_summary_table
scores_by_spending["Per Student Budget"] = per_student_budget
bins = [0, 600, 630, 660, 1000]
bin_names = ["<$600", "$600-630", "$630-660", "$660+"]
scores_by_spending["Spending Ranges (Per Student)"] = pd.cut(scores_by_spending["Per Student Budget"], bins, labels=bin_names)
scores_by_spending = scores_by_spending.reset_index()
scores_by_spending = scores_by_spending.groupby("Spending Ranges (Per Student)")
scores_by_spending = scores_by_spending[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing Rate"]]
scores_by_spending.mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges (Per Student),,,,,
<$600,83.652213,93.956419,94.236224,100.000000,97.118112
$600-630,82.751477,85.469112,89.123708,83.457739,86.290723
$630-660,82.091643,82.725253,86.234076,77.906681,82.070379
$660+,81.590141,77.060225,83.171570,66.922464,75.047017

In [53]:
# SCORES BY SCHOOL SIZE
#> Repeat the above breakdown, but this time based on a reasonable approximation of school size (small, medium, large)
school_size = district_df.groupby("school_name")
school_size = school_size["student_name"].count()

bins = [0, 1000, 2000, 5000]
bin_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
scores_by_size = school_summary_table
scores_by_size["School Size"] = pd.cut(school_size, bins, labels=bin_names)
scores_by_size = scores_by_size.groupby("School Size")
scores_by_size = scores_by_size[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing Rate"]]
scores_by_size.mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Size,,,,,
Small (<1000),83.686615,93.851758,94.771287,100.000000,97.385644
Medium (1000-2000),83.442588,94.140701,93.207547,100.000000,96.603774
Large (2000-5000),82.343900,83.401987,87.185945,79.310056,83.248000

SCORE BY SCHOOL TYPE

In [36]:
score_by_type = school_summary_table.reset_index()
score_by_type = score_by_type.groupby("School Type")
score_by_type = score_by_type[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing Rate"]]
score_by_type.mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Type,,,,,
Charter,83.638429,93.983112,94.082011,100.00000,97.041005
District,81.547289,77.032287,83.149123,66.89609,75.022607