In [1]:
# Dependencies
import pandas as pd

In [7]:
# Import files with pandas
school_df = pd.read_csv("generated_data/schools_complete.csv")
student_df = pd.read_csv("generated_data/students_complete.csv")
school_df.head(1)

   School ID         school_name     type  size   budget
0          0  Miller High School  Charter  2424  1418040

In [8]:
student_df.head(1)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,April Miller,F,9th,Miller High School,99,92