In [1]:
# Dependencies
import pandas as pd

In [12]:
# Import files with pandas
school_df = pd.read_csv("generated_data/schools_complete.csv")
student_df = pd.read_csv("generated_data/students_complete.csv")

# Output headers for my use
school_df.head(1)

   School ID         school_name     type  size   budget
0          0  Miller High School  Charter  2424  1418040

In [13]:
# Output headers for my use
student_df.head(1)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,April Miller,F,9th,Miller High School,99,92

In [14]:
# Make a combined dataframe for later
district_df = pd.merge(student_df, school_df, on="school_name")
district_df.head(1)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,April Miller,F,9th,Miller High School,99,92,0,Charter,2424,1418040

In [78]:
# DISTRICT SUMMARY
#> Create a high level snapshot (in table form) of the district's key metrics, including:
# - Total Schools
school_total = school_df["school_name"].count()

# - Total Students
student_total = student_df["student_name"].count()

# - Total Budget
budget_total = school_df["budget"].sum()

# - Average Math Score
math_average = student_df["math_score"].mean()

# - Average Reading Score
reading_average = student_df["reading_score"].mean()

# - % Passing Math
math_passing = student_df["math_score"][student_df["math_score"] >= 60].count()
math_passing = (math_passing / student_total) * 100

# - % Passing Reading
reading_passing = student_df["reading_score"][student_df["reading_score"] >= 60].count()
reading_passing = (reading_passing / student_total) * 100

# - Overall Passing Rate (Average of the above two)
overall_passing = (math_passing + reading_passing) / 2

# Make that table!
district_summary_table = pd.DataFrame({"Total Schools": [school_total],
                                       "Total Students": ["{:,}".format(student_total)],
                                       "Total Budget": ["${:,}".format(budget_total)],
                                       "Average Math Score": ["{:.2f}%".format(math_average)],
                                       "Average Reading Score": ["{:.2f}%".format(reading_average)],
                                       "% Passing Math": ["{:.2f}%".format(math_passing)],
                                       "% Passing Reading": ["{:.2f}%".format(reading_passing)],
                                       "% Overall Passing Rate": ["{:.2f}%".format(overall_passing)]
                                       })
district_summary_table = district_summary_table[["Total Schools",
                                                "Total Students",
                                                "Total Budget",
                                                "Average Math Score",
                                                "Average Reading Score",
                                                "% Passing Math",
                                                "% Passing Reading",
                                                "% Overall Passing Rate"]]
district_summary_table

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,11,"29,376","$18,648,468",82.27%,82.87%,100.00%,92.77%,96.38%